body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #041b15;
}

body {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    background-color: #84dcc6;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #f6f4f3;
    width: 100%;
    display: flex;
}

.tagline {
    font-size: 1em;
    text-transform: uppercase;
}

.logo-image {
    display: block;
    border-radius: 50%;
    width: 30%;
    margin: auto;
    box-shadow: 2px 3px 25px rgba(0, 0, 0, .4);
}

.border-image {
    width: 90%;
    margin: 1.5em auto;
    display: block;
}

.work-title {
    width: 100%;
    text-transform: uppercase;
}

.work-container {
    color: #041b15;
    width: 100%;
}

.portfolio-item {
    margin: 1.5em auto;
    padding: 0 1em;
    background-color: #f6f4f3;
    border: 1px solid #041b15;
    border-radius: 12px;
}

.project-image {
    margin: auto;
    width: 100%;
    box-shadow: 2px 3px 25px rgba(0, 0, 0, .4);
    outline: 1px solid #041b15;
}

.project-title {
    margin: 1em;
}

.work-text {
    text-align: center;
}

footer {
    padding: 1em 0;
    width: 100%;
    background-color: #cf1259;
    color: #f6f4f3;
}

footer i {
    margin: .5em;
    padding: 12px;
}

footer a {
    color: #f6f4f3;
    text-decoration: none;
}

footer a:hover {
    transition: all 0.2s;
    padding: 2em;
}

@media screen and (max-width: 450px) {
    header {
        padding: 1em;
    }
    .logo {
        margin: 0 auto;
        width: 100%;
    }
    .titles {
        margin: auto;
        width: 100%;
    }
    .work-container {
        text-align: center;
    }
    .portfolio-item {
        width: 80%;
    }
}

@media screen and (min-width: 451px) {
    .logo {
        width: 25%;
        padding: 1.5em;
    }
    .logo-image {
        width: 100%;
        display: block;
    }
    .titles {
        width: 75%;
        line-height: 1.2em;
        margin: 3em 1em 0 0;
        text-align: right;
    }
    .work-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-item {
        width: 35%;
    }
    .portfolio-item:hover {
        transform: translateY(-10px);
        opacity: 1;
        transition: all 0.3s;
        box-shadow: 2px 3px 25px rgba(0, 0, 0, .5);
    }
}